* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.App {
  height: 100vh;
  background: #cbd2d6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square {
  background: #498da6;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 4rem;
}
.square:hover {
  background: #fcf649;
}
.square.clicked {
  background: #01233d;
  cursor: not-allowed;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}
.end-game-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}
.btn {
  background: #cbd2d6;
  color: #01233d;
  border: 2px solid #cbd2d6;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-out;
  max-height: 7rem;
}
.win-text {
  color: white;
  font-size: 10rem;
}
.player-turn {
  color: #01233d;
  font-size: 2rem;
  margin: 2rem 0;
}
